<article class="track-container actionable">
  <img {{bind-attr alt=alt src=track.albumArt class=":album-art"}} {{action "queueSong"}}>
  <div class="track-details">
    <h1 class="track-title">{{track.title}}</h1>
    <p class="track-artist">{{track.artist}}</p>
  </div>
</article>