<div {{bind-attr class=":playlist-item :actionable playing:playing"}} {{action "skipToTrack"}}>
	<img class="playlist-aa" {{bind-attr src=track.albumArt}}>
	<div class="playlist-details">
		{{track.title}}
	</div>
</div>