body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6{
	margin: 0 !important;
	font-weight: 300;
}
#np-container{
	background: url('/assets/img/miku.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	min-height: 600px;
	margin-top: -62px;
	padding-top: 62px;
	position: relative;
}
#now-playing{
	display: flex;
	margin-top: 20vh;
}
.np-card{
	background: rgba(255,255,255,0.6);
	display: flex;
	flex-direction: row;
	padding: 20px;
	width: 600px;
}
.np-details{
	padding: 10px;
	word-wrap: break-word;
}
.np-card img.album-art{
	height: 200px;
	width: 200px;
	min-width: 200px;
	min-height: 200px;
	box-shadow: -4px 4px 2px -2px #217e9f;
}
.container{
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
}
.nav{
	background-color: white;
	border-bottom: 1px solid #54c9ff;
	height: 61px;
	line-height: 61px;
	position: relative;
	z-index: 10;
}