<header class="nav">
	<div class="container">
		Anzu - bleeding edge CAA radio
	</div>
</header>
<section id="np-container">
	{{now-playing store=store playlist=playlist}}
</section>
<section id="tracks-container-wrapper">
	{{tracks-container store=store}}
</section>